* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Fraunces';
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.main-header__inner {
	display: flex;
}

.main-header__inner-nav {
	margin-left: auto;
}

.main-header__inner-nav ul {
	margin-left: auto;
	display: flex;
	list-style-type: none;
}

.main-header__inner-nav ul li {
	margin-left: auto;
	margin: 30px;
}

.main-header__inner-nav ul li a {
	text-decoration: none;
	color: #83888f;
}

.main-header__inner-nav ul li a:hover {
	border-bottom: 1px solid;
}

.hero-section__inner {
	background-color: #a2a2a2;
	height: 600px;
	border-radius: 10px;
}

.hero-section__inner-content {
	padding-left: 70px;
}

.hero-section__inner-content h2 {
	font-size: 72px;
	width: 493px;
	padding-top: 117px;
	color: #fefcf7;
}

.hero-section__inner-content p {
	width: 445px;
	line-height: 26px;
	color: #fefcf7;
}

.hero-section__inner-content a {
	text-decoration: none;
	background-color: #0e8784;
	border-radius: 6px;
	padding: 15px 20px;
	margin-top: 30px;
	color: #fefcf7;
}

.hero-section__inner-content__button {
	margin-top: 50px;
}

.second-section__inner-bg {
	position: absolute;
	margin-left: 70px;
}

.second-section__cards-wrapper {
	display: flex;
	gap: 100px;
}

.second-section__cards-wrapper__card {
	position: relative;
	text-align: center;
	max-width: 255px;
	top: 160px;
}
